<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - <%= websiteName %></title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/main.css" />
    </environment>
    <environment names="Staging,Production">
       <link rel="stylesheet" href="~/css/main.css" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-ciec-y">
        <a class="navbar-brand" href="#">cieclarke</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <% for(var i=0; i < menuItems.length; i++) { %>
                <% if(menuItems[i].IsMenuItem) { %>
                    <li class="nav-item">
                        <a class="nav-link text-light" href='<%= menuItems[i].Link %>'><%= menuItems[i].Name %></a>
                    </li>
                <% } %>
            <% } %>
            </ul>
        </div>
    </nav>
    <main>
        <div class="container">
        @RenderBody()
        </div>
        <footer class="bg-ciec-y text-light">
            <div class="container">
                <p>&copy; @DateTime.Now.Year - cieclarke.com</p>
            </div>
        </footer>
    </main>

    <environment names="Development">
       
    </environment>
    <environment names="Staging,Production">
        
    </environment>

    @RenderSection("Scripts", required: false)
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  
</body>
</html>
