
.bg-ciec-y, .btn-ciec-y {
  background-color: #F6D155;
}

.bg-ciec-b, .btn-ciec-b {
  background-color: #004B8D;
}

.bg-ciec-r, .btn-ciec-r {
  background-color: #F2552C;
}

.bg-ciec-g, .btn-ciec-g {
  background-color: #5A7247;
}


.thumbnail {
  height: 100px;
  width: 100px;
}

.card-image-title, .card-image-text {
  font-size: 0.5rem;
}
