@{
    ViewData["Title"] = "<%= controllerName %>";
}

<h2 class="invisible"><%= controllerName %></h2>

<h3><a href=''></a></h3>

<% for(var i=0; i < posts.length; i++) { %>
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <h4 class="card-title"><%= posts[i].title.replace('@', '@@') %></h4>
            <p class="card-text"><%= posts[i].summary.replace('@', '@@') %></p>
            <a href="<%= posts[i].url %>" class="card-link">View</a>
        </div>
    </div>
<% } %>
