@{
    ViewData["Title"] = "<%= controllerName %>";
}

<h2><%= controllerName %></h2>

<h3><a href=''></a></h3>

<% for(var i=0; i < posts.length; i++) { %>
    <figure>
        <% if (posts[i].link_image) { %>
            <a href='<%= posts[i].url %>'>
                <img src="<%= posts[i].link_image %>" />
            </a>
        <% } else { %>
            <a href='<%= posts[i].url %>'>
                <%= posts[i].title.replace('@', '@@') %>
            </a>
        <% } %>
        <figcaption><%= posts[i].summary.replace('@', '@@') %></figcaption>
    </figure>
    
<% } %>
