@{
    ViewData["Title"] = "<%= controllerName %>";
}

<h2 class="invisible"><%= controllerName %></h2>

<div class="row">
    <% for(var j=0; j < 5; j++) { %>
<% for(var i=0; i < images.length; i++) { %>
    <div class="col-6 col-sm-4 col-md-3">
        <div class="card card-image">
            <a href="#" data-toggle="modal" data-target="#flickr<%= i %>">
                <img class="card-img-top"
                    src="<%= images[i].sizes['Large Square'].source %>"
                    alt="Card image cap">
            </a>
            <div class="card-body">
                <h4 class="card-title card-image-title">DSC00024 2 </h4>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="flickr<%= i %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel<%= i %>" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel<%= i %>"><%= images[i].title %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="card-img-top"
                        src="<%= images[i].sizes['Medium 640'].source %>"
                        alt="modal image cap">
                        <dl>
                            <dt>ISO</dt>
                            <dd><%= images[i].exif.ISO %></dd>
                            <dt>Exposure Time</dt>
                            <dd><%= images[i].exif.ExposureTime %></dd>
                            <dt>F</dt>
                            <dd><%= images[i].exif.FNumber %></dd>
                            <dt>LensModel</dt>
                            <dd><%= images[i].exif.LensModel %></dd>
                        </dl>
                </div>
            </div>
        </div>
    </div>


<% } %>
<% } %>
</div>